@import url('https://fonts.googleapis.com/css2?family=Vina+Sans&display=swap');

:root {
    --first-color: hsl(30, 16%, 50%);
    --text-color: #fff;
    --text-color-black: hsl(30, 8%, 15%);
    --body-color: hsl(30, 100%, 98%);
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;
}

@media screen and (min-width: 1024px) {
    :root {
      --h3-font-size: 1.125rem;
      --small-font-size: .875rem;
      --smaller-font-size: .813rem;
    }
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: var(--body-color);
}

img {
    max-width: 100%;
    height: auto;
}

.jumbo__title {
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15rem;
    top: -10rem;
    opacity: .8;
}

.gallery {
    height: 100vh;
    display: grid;
    align-content: center;
    justify-content: center;
}

.card {
    position: relative;
    width: 630px;
    height: 290px;
    border-radius: 1rem;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.card::after,
.card__img, 
.card__desc {
    position: absolute;
}

.card__img {
    inset: 0;
    margin: auto;
    transition: transform .3s ;
}

.card::after {
    content: '';
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, 
                hsla(0, 0%, 100%, 0) 32%, 
                hsla(0, 0%, 0%, .5) 100%);
    top: 0;
    z-index: 1;
}

.card__desc {
    bottom: 1.5rem;
    left: 1.75rem;
    z-index: 10;
}

.card__title {
    font-family: 'Vina Sans', cursive;
    color: var(--text-color);
    font-weight: 500;
    font-size: 2rem;
}

.gallery__overflow {
    position: relative;
}

.gallery__thumbnail {
    position: relative;
    width: 60px;
    height: 60px;
    border-radius: 1.5rem;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
    transition: transform .3s;
}

.gallery__thumbnail-img {
    position: absolute;
    inset: 0;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.gallery__card,
.gallery__thumbs {
    width: 700px;
}

.gallery__card:hover .card__img {
    transform: scale(1.1);
}

.gallery .swiper-wrapper {
    padding: 2.5rem 0;
}

.gallery__thumbs {
    height: 132px;
}

.swiper-slide-active .gallery__thumbnail {
    transform: translateY(-1.25rem) scale(1.2);
}

.swiper-slide-next .gallery__thumbnail {
    transform: rotate(15deg);
}

.swiper-slide-prev .gallery__thumbnail {
    transform: rotate(-15deg);
}

.swiper-button-next::after,
.swiper-button-prev::after {
    content: '';
}

.swiper-button-next,
.swiper-button-prev {
    font-size: 1.5rem;
    color: var(--text-color-black);
    top: 3.5rem;
}

.swiper-button-next {
    right: 15rem;
    transform: rotate(15deg);
}

.swiper-button-prev {
    left: 15rem;
    transform: rotate(-15deg);
}

.gallery-cards::after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
}

.swiper-horizontal.swiper-css-mode > .swiper-wrapper {
    scroll-snap-type: initial;
}